<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
	<meta charset="UTF-8">
	<title>PPR Request For DOLR Approval</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
		<style>
			.required{
			    color:red;
			}
		</style>
</head>
<body>
	<br layout:fragment="content">	
		<div class="card-header bg-primary text-white">
			<h4 class="mb-0">
				PPR Request For DOLR Approval
			</h4>
		</div>
		<div th:if="${success}" class="alert alert-success alert-dismissible fade show" role="alert">
			<span th:text="${success}"></span>
			<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		</div>
		</br>
		<div th:if="${pprRequestDolrApprovalList != null}">
					<h4> <b><center>List of PPR Details For Approval</center></b> </h4>
					
				    <table class="table table-bordered table-striped table-hover">
				        
				        <thead class="table-primary">
				        <tr>
							<th>Name of the Project</th>
				            <th>District Name</th>
				            <th>Financial Year</th>
							<th>Proposed Area</th>
							<th>Proposed Cost</th>
				            <th>Action</th>
				        </tr>
				        </thead>
				        <tbody>
				        <tr th:each="data : ${pprRequestDolrApprovalList}">
							<td th:text="${data.projectName}"></td>
				            <td th:text="${data.districtName}"></td>
							<td th:text="${data.finYear}"></td>
							<td th:text="${data.treatedArea}"></td>
				            <td th:text="${data.proposedCost}"></td>
							<td>
								<div class="d-flex align-items-center gap-2">
									<a th:href="@{/rejPprReqForAprov(id=${pprId})}"
										class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to Reject this record?');">
										Reject
									</a>
									&nbsp;
									<a th:href="@{/referBackPprReqForAprov(id=${pprId})}"
										class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to Refer Back this record?');">
										Refer
									</a>
									<a th:href="@{/approvePprReqForAprov(id=${pprId})}"
										class="btn btn-success btn-sm" onclick="return confirm('Are you sure you want to Approve this record?');">
										Approve
									</a>
								</div>
				            </td>
				        </tr>
				        <tr th:if="${#lists.isEmpty(pprRequestDolrApprovalList)}">
				            <td colspan="15" class="text-center text-danger">
				                No records found.
				            </td>
				        </tr>
				        </tbody>
				    </table>
				</div>
	</div>
</body>
</html>