<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <script>
 
 
 
 </script>
</head>
<body>
    <div th:fragment="govHeader">
        <div class="gov-header">
            <div class="gov-left">
                <img th:src="@{/images/ashok-stambh.png}" alt="Ashok Stambh">
                <div class="gov-title">
                   <h3>Watershed Development Component-Pradhan Mantri Krishi Sinchayee Yojana 3.0 - MIS</h3>
                   <p>Department of Land Resources | MoRD | Govt. of India</p>
                </div>
            </div>
        </div>

        <div class="gov-nav">
            <div class="menu">
                <a th:href="@{/}">Home</a>
                <a th:href="@{/about}">About</a>
                <a th:href="@{/dashboard}">Dashboard</a>
                <a th:href="@{/reports}">Reports</a>
                <a th:href="@{/map}">Map</a>
                <a th:href="@{/technicalsupport}">Contact Us</a>
            </div>
            <div class="auth">
                <a th:href="@{/login}" class="login">Login</a>
                <a th:href="@{/register}" class="register">Registration</a>
            </div>
        </div>
        <div class="language-bar">
  <select id="languageSelect" onchange="changeLanguage(this.value)">
    <option value="en">English</option>
    <option value="hi">हिन्दी</option>
  </select>
</div>

<div class="accessibility-bar">
  <button onclick="changeFontSize('increase')">A+</button>
  <button onclick="changeFontSize('normal')">A</button>
  <button onclick="changeFontSize('decrease')">A-</button>
</div>

        
    </div>
</body>
</html>
	