<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="/js/language.js"></script>
<script src="/js/registration.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<head>

<meta charset="UTF-8">
<title>Registration | WDC-PMKSY 3.0</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<link rel="stylesheet" th:href="@{/css/header.css}">
<link rel="stylesheet" th:href="@{/css/registration.css}">

<style>
footer {
     background: linear-gradient(90deg, #87CEFA, #000080); /* Light Blue → Dark Blue */
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 13px;
    border-top: 2px solid #000080;
}



</style>


</head>

<body>

<div th:replace="header :: govHeader"></div>
<section class="register-section">

   <div class="container-fluid bg-gradient py-4">

<div class="row justify-content-center">

<div class="col-lg-8 col-md-10">

<div class="card shadow-lg registration-card">

<!-- HEADER -->
<div class="card-header text-center bg-success text-white">
<h5 class="mb-0">User Registration - WDC PMKSY 3.0 MIS</h5>
</div>

<div class="card-body">

<form:form id="regForm">

<!-- USER TYPE -->
<div class="section-title" id="accountTypeTitle">Account Type</div>

<div class="row">

<div class="col-md-6 mb-3">

<label id="userTypeLabel">User Type *</label>

<select id="userType"
name="userType"
class="form-control form-control-sm"
onchange="handleUserTypeChange(this.value)">

<option value="">--Select User Type--</option>

<option value="DL">DOLR</option>
<option value="SL">SLNA</option>
<option value="DI">WCDC</option>
<option value="PI">PIA</option>
<option value="NGO">NGO</option>

</select>
<small class="text-danger error-text" id="userError"></small>
</div>

<!-- LOCATION SECTION -->
<div class="section-title" id="location">Location Details</div>

<div class="row">

    <!-- STATE (ALWAYS VISIBLE) -->
    <div class="col-md-6 mb-3">
      <label id="state">State *</label>
     
    <select id="userState" name="userState" class="form-control form-control-sm"  onchange="loadDistricts(this.value)">
       <option value="">--Select State--</option>
    <th:block th:each="state : ${stateList}">
        <option th:value="${state.stCode}"
                th:text="${state.stName}">
        </option>
    </th:block>
    </select>
    <small class="text-danger error-text" id="stateError"></small>
    </div>

    <!-- DISTRICT (CONDITIONAL) -->
   <div class="col-md-6 mb-3 fade-section" id="districtBox">

        <label>District *</label>
   
        <select id="userDistrict"
                name="userDistrict"
                class="form-control form-control-sm">

            <option value="">--Select District--</option>

            <c:forEach items="${districtList}" var="lists">

<option value="${lists.key}">
${lists.value}
</option>

</c:forEach>

        </select>
<small class="text-danger error-text" id="districtError"></small>
    </div>

</div>

</div>

<!-- ORGANIZATION SECTION -->
<div class="section-title" id="orgSectionTitle">
    User Details
</div>

<div class="row">

<!-- NAME -->
<div class="col-md-6 mb-3 fade-section" id="nameField">
<label>Name *</label>

<input type="text" class="form-control form-control-sm" id="userName" name="userName">
<small class="text-danger error-text" id="nameError"></small>
</div>

<!-- DEPARTMENT -->
<div class="col-md-6 mb-3 fade-section" id="deptField">
<label>Department *</label>
<input type="text" class="form-control form-control-sm" id="userDepartment" name="userDepartment">
<small class="text-danger error-text" id="departmentError"></small>
</div>

<!-- DESIGNATION -->
<div class="col-md-6 mb-3 fade-section" id="desgField">
<label>Designation *</label>
<input type="text" class="form-control form-control-sm" id="userDesignation" name="userDesignation">
<small class="text-danger error-text" id="designationError"></small>
</div>

<!-- NGO NAME -->
<div class="col-md-6 mb-3 fade-section" id="ngoNameField">
<label>NGO Name *</label>
<input type="text" class="form-control form-control-sm" id="userNameNgo" name="userNameNgo">
<small class="text-danger error-text" id="ngonameError"></small>
</div>

<!-- NGO ID -->
<div class="col-md-6 mb-3 fade-section" id="ngoIdField">
<label>NGO ID *</label>
<input type="text" class="form-control form-control-sm" id="userNgoid" name="userNgoid">
<small class="text-danger error-text" id="ngoidError"></small>
</div>

<!-- REGISTERED WITH -->
<div class="col-md-6 mb-3  fade-section" id="ngoRegField">
<label>Registered With *</label>
<input type="text" class="form-control form-control-sm" id="userRegwith" name="userRegwith">
<small class="text-danger error-text" id="registeredError"></small>
</div>

</div>

<!-- CONTACT -->
<div class="section-title" id="contact">Contact Details</div>

<div class="row">

<div class="col-md-6 mb-3"> <label>Email *</label>
    <input type="email" id="emailField" class="form-control form-control-sm" name="userEmailId" onblur="validateEmail()">
    <small class="text-danger error-text" id="emailError"></small>
    
</div>

<div class="col-md-6 mb-3"><label>Mobile *</label>
<input type="text" id="mobileField" class="form-control form-control-sm" name="userMobileNo" maxlength="10" oninput="validateMobile()">

    <small class="text-danger error-text" id="mobileError"></small>
</div>

</div>

<!-- ADDRESS -->
<div class="mb-3">
<label>Address *</label>
<textarea id="addressField" class="form-control" rows="3" name="userAddres" oninput="validateAddress()"></textarea>
<small class="text-danger error-text" id="addressError"></small>
</div>

<!-- CAPTCHA -->
<div class="mb-4 text-center"> <div class="g-recaptcha" data-sitekey="6LfYFwQsAAAAAAVxzTr3vCHseqAtbLiD53hfgJc7" data-callback="recaptchaVerified" data-expired-callback="recaptchaExpired"></div>
 </div>

<!-- <div class="mb-4 text-center">
            <div class="g-recaptcha" 
                 data-sitekey="6LdaWgQsAAAAAMDyEMhJ1Tan4-C8B6cOkRLXZgDv" 
                 data-callback="recaptchaVerified"
                 data-expired-callback="recaptchaExpired"></div>
            <div class="error-text text-center" id="captchaError">Please verify you are not a robot.</div>
        </div>
SUBMIT -->
<div class="text-center mt-3">

<button id="registerBtn" class="btn btn-success px-5" type="button" onclick="sendOtp()" disabled> Verify reCAPTCHA to Register </button>
</div>

</form:form>

</div>
</div>

</div>

</div>

</div>

</section>
<div id="toast" class="toast-message"></div>
<footer>
    Data presented in this site has been updated by respective State Governments/UT Administration and Department of Land Resources, Ministry of Rural Development (MoRD), Government of India.<br>
    Website hosted and maintained by National Informatics Center.
</footer>

<div class="modal fade" id="otpModal" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header bg-success text-white">

                <h5 class="modal-title">
                    Email Verification
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"> </button>
                

            </div>

            <div class="modal-body">
                <p>Enter the OTP sent to <b id="otpEmail"></b></p>

                <input type="text" id="enteredOtp" maxlength="6" class="form-control" placeholder="Enter OTP" oninput="this.value=this.value.replace(/\D/g,'')">

                <div id="otpError" class="text-danger mt-2"> </div>

                <div class="mt-3">

                <button id="verifyOtpBtn" class="btn btn-success" type="button" onclick="verifyOtp()"> Verify OTP</button>

                    <button id="resendOtpBtn" type="button" class="btn btn-link" onclick="resendOtp()">Resend OTP </button>

                    <span id="timer" class="text-muted"> </span>

                </div>

            </div>

        </div>

    </div>

</div>

<div class="modal fade" id="successModal" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header bg-success text-white">

                <h5 class="modal-title">
                    Registration Successful
                </h5>

                <button type="button"
                        class="btn-close btn-close-white"
                        data-bs-dismiss="modal">
                </button>

            </div>

            <div class="modal-body text-center">

                <i class="bi bi-check-circle-fill text-success"
                   style="font-size:60px;"></i>

                <h4 class="text-success mt-3">
                    Registration Successful
                </h4>

                <p class="mt-3">
                    Your email has been successfully verified and your registration request has been submitted successfully.
                </p>

                <p>
                    Your account is currently pending approval.
                </p>

                <p>
                    Kindly contact your respective <strong>SLNA Administrator</strong> for approval.
                    After approval, your User ID and login credentials will be sent to your registered email address.
                </p>

            </div>

            <div class="modal-footer">

                <button class="btn btn-success"
                        onclick="window.location.href='/register'">
                    OK
                </button>

            </div>

        </div>

    </div>

</div>

</body>
</html>